.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-padding{
    padding: 0 10%;
}

.flex-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item-center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex-spacing-even{
    justify-content: space-evenly;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-item-15{
    flex: 15%;
}

.flex-item-20{
    flex: 20%;
}

.flex-item-30{
    flex: 30%;
}

.flex-item-40{
    flex: 40%;
}

.flex-item-50{
    flex: 50%;
}

.flex-item-60{
    flex: 60%;
}

.flex-item-70{
    flex: 70%;
}

.flex-item-85{
    flex: 85%;
}


@media (max-width: 1199px){
    .flex-m-container{
        flex-direction: column;
    }
}

@media (max-width: 767px){
    .flex-s-container{
        flex-direction: column;
    }
}