@font-face{
	font-family: customFont;
	src: url("../fonts/adventpro-regular.ttf");
}

@font-face{
	font-family: customFont;
	src: url("../fonts/adventpro-bold.ttf");
	font-weight: bold;
}

body{
	font-family: customFont;
	/* background-image: url("../images/background-chess.png"); */
	background-color: #c2bba3;
	margin: 0;
	font-size: 25px;
}

.content{
	background-color: #b8af94;
	width: auto;
}

.content img{
	width: 100%;
}

.video-container{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.video-container iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-style: none;
}

footer{
	background-color: #998c66;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
}

h1{
	text-align: center;
}


@media (max-width: 1199px){

	body{
		font-size: 20px;
	}
}


@media (max-width: 767px){

	body{
		font-size: 15px;
	}
}