.headmain{
	float: left;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 2.2vw;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.8vw;
}

.hamburger{
	display: none;
	float: right;
	border: none;
	background-color: transparent;
	font-size: 135%;
	position: absolute;
	right: 2%;
	top: 0;
}

nav{
	text-align: center;
	width: 100%;
	background-color: #998c66;
	height: 3.1vw;
}

nav ul{
	list-style-type: none;
	padding: 0px;
	font-size: 1.7vw;
}

nav li{
	width: 16vw;
}

ul ul{
	display: none;
	background-color: #a39875;
	z-index: 998;
}

nav ul ul li{
	display: block;
}

nav li:hover ul{
	display: block;
}

nav li a{
	color: black;
	display: inline-block;
	height: 100%;
	padding: 0;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	opacity: 0.6;
	transition: 0.4s;
	background-position: 100% 0;
	background-size: 300%;
}

nav li li a{
	width: 100%;
}

nav li a:hover{
	opacity: 1;
	background-position: 0 100%;
	background-image: linear-gradient(120deg, #c2baa3 50%, transparent 50%);
}


@media (max-width: 1199px){

	.hamburger{
		display: block;
		font-size: 170%;
	}

	.nav{
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background-color: #a39875;
	}

	.nav-mobile{
		flex-direction: column;
		overflow: hidden;
	}

	nav li{
		width: 100%;
	}

	nav li a{
		font-size: 150%;
	}
	
	ul ul{
		position: relative;
		background-color: #ada385;
	}

	.width-s-100{
		width: 100%;
	}

	.headmain{
		font-size: 3vw;
		padding-top: 0.5vw;
	}
}

@media (max-width: 767px){
	
	.hamburger{
		font-size: 200%;
	}

	.nav{
		left: unset;
		top: 85%;
		align-items: center;
	}

	nav li a{
		font-size: 200%;
	}

	.headmain{
		font-size: 4.5vw;
		padding-top: 2vw;
	}
}