ul{
	list-style-type: none;
	padding: 0px;
}

nav{
	background-color: #ada385;
	text-align: center;
}

nav li{
	width: 270px;
}

@media (min-width: 761px){
	nav li{
		display: inline-block;
	}
	
	ul ul{
		position: absolute;
	}
}

@media (max-width: 760px){
	nav li{
		width: 100%;
	}
	
	ul ul{
		position:relative;
	}
}

nav li a{
	color: black;
	display: inline-block;
	height: 50px;
	width: 270px;
	line-height: 50px;
	padding: 0;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	opacity: 0.6;
	transition: 0.4s;
	background-position: 100% 0;
	background-size: 300%;
}

nav li a:hover{
	opacity: 1;
	background-position: 0 100%;
	background-image: linear-gradient(120deg, #c2baa3 50%, transparent 50%);
}

ul ul{
	display: none;
	background-color: #a39875;
	z-index: 998;
}

nav ul ul li{
	display: block;
}

nav li:hover ul{
	display: block;
}