.social{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 1% 0;
}

.more{
	font-size: 1.5vw;
}

.icon-btn{
	width: 2.6vw;
	height: 2.6vw;
	border: 0;
	color: #000000;
	border-radius: 50%;
	margin: 10px 0;
	font-size: 85%;
	transition: 0.2s;
}


@media (max-width: 1200px){
	.more{
		font-size: 2.5vw;
	}

	.icon-btn{
		width: 3.7vw;
		height: 3.7vw;
	}
}

@media (max-width: 760px){
	.more{
		font-size: 3.7vw;
	}

	.icon-btn{
		width: 5vw;
		height: 5vw;
	}
}


.icon-btn:hover{
	transform: scale(1.30);
}

.icon-btn a{
	cursor: pointer;
	color: inherit;
}

.twitch{
	color: #9147FE;
}

.twitch:hover{
	color: #FFFFFF;
	background-color: #9147FE;
}

.youtube{
	color: #FF0000;
}

.youtube:hover{
	color: #FFFFFF;
	background-color: #FF0000;
}

.twitter{
	color: #4099FF;
}

.twitter:hover{
	color: #FFFFFF;
	background-color: #4099FF;
}

.facebook{
	color: #3B5998;
}

.facebook:hover{
	color: #FFFFFF;
	background-color: #3B5998;
}

.instagram{
	color: #5C3D2E;
}

.instagram:hover{
	color: #FFFFFF;
	background-color: #5C3D2E;
}